
<div class="form-group" ng-repeat="field in $ctrl.formfields">

	<div ng-if="field.ControlTypeName=='hideen'">
		<input ng-model=$ctrl.datamodel[field.FieldName] type="hidden" />
    </div>
	<div ng-if="field.ControlTypeName=='text'  || 
				field.ControlTypeName=='email' || 
				field.ControlTypeName=='password'  ||
				field.ControlTypeName=='FormText'"  
				
				
				ng-show="field.visibility==undefined || field.visibility==true" >
		<div class="row"  ng-show="$ctrl.datamodel |   MyCondition :  field.Condition " >
			<div class="col-lg-2" >
				<div  data-ng-if="field.Caption!=null">
					<label>{{field.Caption}}</label>
				</div>
				<div  data-ng-if="field.Caption==null">
					<label>{{field.FieldName}}<label>
			
				</div>
			</div>
			<div class="col-lg-8">
					<input class="form-control"
                           dynamic-name="field.name"
                           ControlTypeName="{{ field.ControlTypeName }}"
                           ng-change=$ctrl.textboxchage(field.onchange)
                           ng-model=$ctrl.datamodel[field.FieldName]
                           ng-required={{field.required}}
						  
						   />
			</div>
		</div>
	</div>
	<div ng-if="field.ControlTypeName=='date'"  ng-show="field.visibility==undefined || field.visibility==true" >
		<div class="row">
			<div class="col-lg-2">
				<label>{{field.Caption}}</label>
			</div>
			<div class="col-lg-8">
					<input class="form-control"
                           dynamic-name="field.Caption"
                           type="{{ field.ControlTypeName }}"
                           ng-model=$ctrl.datamodel[field.FieldName]
                           ng-required=field.required />
			</div>
		</div>
	</div>
	<div ng-if="field.ControlTypeName=='BillNoBillDate'" ng-show="field.visibility==undefined || field.visibility==true" >
		<div class="row">
			<div class="col-lg-2">
				<label>{{field.name1}}</label>
			</div>
			<div class="col-lg-8">
				<input 	class="form-control"
						dynamic-name="field.name1"
						type="text"
                        ng-model=$ctrl.datamodel[field.value1]
                        ng-required=field.required />
			</div>
			<div class="col-lg-2">
				<label>{{field.name}}</label>
			</div>
			<div class="col-lg-2">
				<input class="form-control"
                           dynamic-name="field.name2"
                           type="date"
                           ng-model=$ctrl.datamodel[field.value2]
                           ng-required=field.required />
			</div>
		</div>
	</div>
	<div	 ng-if="field.ControlTypeName=='Label'" 
			 >
			 
		<div class="form-group row" ng-show="$ctrl.datamodel |   MyCondition :  field.Condition "  >
			<div class="col-lg-2">
				<div  data-ng-if="field.Caption!=null">
					<label>{{field.Caption}}</label>
				</div>
				<div  data-ng-if="field.Caption==null">
					<label>{{field.FieldName}}<label>
			
				</div>
			</div>
			<div class="col-lg-8">
				{{$ctrl.datamodel[field.FieldName]}}
			</div>
		</div>
	</div>
	<div 	ng-if="field.ControlTypeName=='labelmath'"  
			ng-show="field.visibility==undefined || field.visibility==true" >
		<div class="form-group row"  ng-show="$ctrl.datamodel |   MyCondition :  field.Condition" > 
			<div class="col-lg-2">
				<label>{{field.Caption}}</label>
			</div>
			<div class="col-lg-8" ng-init="$ctrl.datamodel[field.FieldName]=($ctrl.datamodel  |  mathoperation :   field.operation ) " >
				{{($ctrl.datamodel  |  mathoperation :   field.operation ) }}
			</div>
		</div>
	</div>
	<div ng-if="field.ControlTypeName=='subLabel'" ng-show="field.visibility==undefined || field.visibility==true" >
		<div class="row">
			<div class="col-lg-2">
				<label>{{field.Caption}}</label>
			</div>
			<div class="col-lg-8">
				{{$ctrl.datamodel[field.FieldName][field.subvalue]}}
			</div>
		</div>
	</div>
	<div ng-if="field.ControlTypeName=='checkbox'"  ng-show="field.visibility==undefined || field.visibility==true">
		<input 	ng-repeat="choice in field.choices" 
				type="checkbox" 
				dynamic-name="field.name" 
				ng-value="choice.name" 
				/>
	</div>
	<div ng-if="field.ControlTypeName=='textarea'"  ng-show="field.visibility==undefined || field.visibility==true">
		<textarea row="50"></textarea>
	</div>
	<div ng-if="field.ControlTypeName=='ComboBox'"  ng-show="field.visibility==undefined || field.visibility==true"  >
		<div class="row" ng-show="$ctrl.datamodel |   MyCondition :  field.Condition" >
			<div class="col-lg-2"  >
				<label>{{field.Caption}}</label>
			</div>
			<div  class="col-lg-8"  ng-init="$ctrl.getData(field.Query,field.TableName )" >
				<select ng-required="field.visibility==undefined || field.visibility==true"
						class="form-control" 
									data-ng-model=$ctrl.datamodel[field.FieldName]
                                    ng-options="{{field.ComboQuery}}"
									ng-change="$ctrl.SelectCombox(field.TableName,field.value,field.selectvalue,field.onchange)"  
									>
				<option value="">{{field.ValidationMessage}}</option> 
				</select>
			</div>			
		</div>
	</div>
	
	
</div>
          
