


	
            <div class="form-group" ng-repeat="field in $ctrl.formfields">
			
                <div ng-if="field.type=='hideen'">

				  <input   ng-model=$ctrl.datamodel[field.value]
				  type="hidden" />
                    
                </div>
                <div ng-if="field.type=='text'  || field.type=='email' || field.type=='password'">
					
				
					<div class="row"  ng-show="$ctrl.datamodel |   MyCondition :  field.Condition " >
						<div class="col-lg-2" >
						<label>	{{field.name}}
						
						</label>
				
						</div>
						<div class="col-lg-8">
								<input class="form-control"
                           dynamic-name="field.name"
                           type="{{ field.type }}"
                           ng-change=$ctrl.textboxchage(field.onchange)
                           ng-model=$ctrl.datamodel[field.value]
                           ng-required={{field.required}}
						   
						   />
						 </div>
					</div>
				</div>
				<div ng-if="field.type=='date'">
					<div class="row">
						<div class="col-lg-2">
								<label>
						{{field.name}}
						</label>
						</div>
						<div class="col-lg-8">
							<input class="form-control"
                           dynamic-name="field.name"
                           type="{{ field.type }}"
                           
                           ng-model=$ctrl.datamodel[field.value]
                           ng-required=field.required />
						 </div>
					</div>
                </div>
				<div ng-if="field.type=='BillNoBillDate'">
					<div class="row">
						<div class="col-lg-2">
								<label>
						{{field.name1}}
						</label>
						</div>
						<div class="col-lg-2">
							<input class="form-control"
                           dynamic-name="field.name1"
                           type="text"
                           
                           ng-model=$ctrl.datamodel[field.value1]
                           required=field.required />
						 </div>
						 <div class="col-lg-2">
								<label>
						{{field.name}}
						</label>
						</div>
						<div class="col-lg-2">
							<input class="form-control"
                           dynamic-name="field.name2"
                           type="date"
                           
                           ng-model=$ctrl.datamodel[field.value2]
                           required=field.required />
						 </div>
					</div>
                </div>
				<div ng-if="field.type=='label'" >
						<div class="row" ng-show="$ctrl.datamodel |   MyCondition :  field.Condition "  >
							<div class="col-lg-2">
								<label>
								{{field.name}}
							</label>
								</div>
							<div class="col-lg-8">
							{{$ctrl.datamodel[field.value]}}
                    
						   </div>
					</div>
                </div>
				<div ng-if="field.type=='labelmath'" >
						<div class="row"  ng-show="$ctrl.datamodel |   MyCondition :  field.Condition" > 
							<div class="col-lg-2">
								<label>
								{{field.name}}
							</label>
								</div>
							<div class="col-lg-8" ng-init="$ctrl.datamodel[field.value]=($ctrl.datamodel  |  mathoperation :   field.operation ) " >
							{{($ctrl.datamodel  |  mathoperation :   field.operation ) }}
							
                    
						   </div>
					</div>
                </div>
					<div ng-if="field.type=='subLabel'" >
						<div class="row">
							<div class="col-lg-2">
								<label>
								{{field.name}}
							</label>
								</div>
							<div class="col-lg-8">
							{{$ctrl.datamodel[field.value][field.subvalue]}}
                    
						   </div>
					</div>
                </div>
                <div ng-if="field.type=='checkbox'">
                    <input ng-repeat="choice in field.choices"
                           type="checkbox"
                           dynamic-name="field.name"
                           ng-value="choice.name" />

                </div>
                <div ng-if="field.type=='textarea'">

                    <textarea row="50"></textarea>
                </div>
				
				
				<div ng-if="field.type=='ComboBox'"  >
				<div class="row" ng-show="$ctrl.datamodel |   MyCondition :  field.Condition" >
				<div class="col-lg-2">
				<label>{{field.name}}</label>
				</div>
				<div  class="col-lg-8"  ng-init="$ctrl.getData(field.Query,field.TableName )" >
				 <select required class="form-control" data-ng-model=$ctrl.datamodel[field.value]
                                            ng-options="{{field.ComboQuery}}"
											ng-change="$ctrl.SelectCombox(field.TableName,field.value,field.selectvalue,field.onchange)"
											
											>
											
                                            
												 <option value="">{{field.ValidationMessage}}</option> 
											</select>
				</div>			
                </div>
			</div>
                <div ng-if="field.type=='comBoboxData'">

                    <select>
                        <option ng-repeat="v in field.value" value={{v.name}}>{{v.name}}</option>
                    </select>
                </div>
                <div ng-if="field.type=='table'">
                    <div>
                        <button ng-click="AddRecord()">Add</button>
                    </div>
                    <div>
                        <table border="1">
                            <tr>
                                <th ng-repeat="col  in field.Columns">{{col.name}} </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
          
