<div class="">
	<table class="table table-bordered">
		<thead>
			<tr style="background-color:#428bca"      >
				<th ng-repeat="tabledata in $ctrl.formfields" 
				ng-show="(tabledata.Visible==undefined  || tabledata.Visible)"
				>
				
				<div  data-ng-if="tabledata.Caption!=null">
					{{tabledata.Caption}}
					
				</div>
				<div  data-ng-if="tabledata.Caption==null">
					{{tabledata.ColumnName}}
					
				</div>
				</th>
				<th></th>
			<th></th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="datarow  in $ctrl.datamodel ">
			
			<td  ng-repeat="tabledata in $ctrl.formfields" 
					ng-show=" (tabledata.Visible==undefined  || tabledata.Visible)  " 
				>
				
					<div ng-if="tabledata.type=='subtype'">
						  {{datarow[tabledata.ColumnName][tabledata.SubName]}}
					</div>
					<div ng-if="tabledata.type=='number'"  style="text-align:right"  >
						{{datarow[tabledata.ColumnName] }}
					</div>
						<div ng-if="tabledata.type=='number2'"  style="text-align:right"  ng-show="datarow  |   MyCondition :  tabledata.Condition "  >
						  {{datarow[tabledata.ColumnName] | number:2}}
					</div>
					<div ng-if="tabledata.type==null">
						  {{datarow[tabledata.ColumnName]}}
						  
					</div>
					<div ng-if="tabledata.type=='date'"  style="text-align:right"  >
						{{datarow[tabledata.ColumnName]  |date:"dd-MMM-yyyy"     }}
					</div>
			</td>
			<td><input type="Button" value="Edit" ng-click="$ctrl.editrecord({object:datarow,index:$index})"  /> </td>
			<td><input type="Button" value="Delete" ng-click="$ctrl.deleterecord({object:datarow,index:$index})" /> </td>
		</tr>
		</tbody>
		<tfoot>
			<tr >
				<td colspan="{{$ctrl.formfields | countNotAggregate }}" style="text-align:center" >
							Total
				</td>
				<td  ng-repeat="tabledata in $ctrl.formfields |filter:{Aggregate:'sum'}  " >
					<div ng-if="tabledata.Aggregate=='sum'"    style="text-align:right" >
						{{$ctrl.datamodel |  arraysum :"Amount":tabledata.Condition| number:2}} 
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>