<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>

</script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
	  Query <input type=text />
	  <table class="table" >
	  <th>
		<td> Functionaliy
		</th>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> ALL Serach </td> </tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Field Serach </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Multi Serach </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export XML </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export Pdf </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export Json </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export Print </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export Excel </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Export to Export </td></tr>
	  <tr>	  <td> <input  type="checkbox" ng-model="fruit.Selected" /> Column right show popup Menu </td></tr>
	  
		
		</table>
		
		
<table class="table" >
	<thead>
		<tr>
			<th>Visible</th>
			<th>Field Name</th>
			
			<th>Caption Name</th>
			<th>Column Width </th>
			<th>Header Color</th>
			<th>Data Color</th>
			<th>Move Column</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key,value) in listdata[0]">
		  
				<td> <input  type="checkbox" ng-model="fruit.Selected" /> </td>
				<td>			{{key}}    </td>
				<td>			{{key}}    </td>
				<td> <input  type="color"  /> </td>
				<td> <input  type="color"  /> </td>
		</tr>
	</tbody>
</table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="col-lg-12">
	<div class="row ">
		<div class="col-lg-2">
          <h3>{{title}}</h3>   
        </div>
        <div class="col-lg-8 mt-12" >
			<div class="input-group col-md-12">
				<input type="text" id="search_input" value="" ng-model="search" class="form-control" placeholder="Search" />
				<span class="input-group-btn">
					<button ng-click="acc_con.search_data(search_input)" class="button button-green" type="button">
						<span class=" glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="col-lg-2 " ng-show="addbutton==undefined || addbutton==true "  >
			<button type="button" class="button button-purple mt-12 pull-right"  ng-click="addmode()" > Add</button> 
		</div>
    </div>
	<div class="row" id="printdata" >
	<table class="table" on-right-click="ShowContextMenu()" >
		<thead>
			<tr>
				<th ng-repeat="(key,value) in listdata[0]" 
					ng-show="(!key.endsWith('Id')) &&  (displaydata[key]['Visible']==undefined  || displaydata[key]['Visible']=='1' )  " 
					sort  by=listdata.sortKey  
					reverse=listdata.reverse  
					order=key >
					<div ng-show="displaydata[key]['Caption']==undefined ">
						{{key}}
					</div>
					<div ng-show="displaydata[key]['Caption'] ">
					 {{displaydata[key]['Caption']}}
					</div>
					
				</th>
				<!--color:red-->
				<th class="text-center">
				
				<a  href="#myModal" data-toggle="modal"> <i class="fa fa-gear fa-spin" style="font-size:24px;"></i></a>
				
				</th>
				
            </tr>
			<tr>
				<th ng-repeat="(key,value) in listdata[0]"  
					ng-show="(!key.endsWith('Id')) && 
					(displaydata[key]['Visible']==undefined  || displaydata[key]['Visible']=='1')  " 
					>
					<input type="text" id="search_Field" value="" ng-model="listdata.record[key]" class="form-control" placeholder="{{key}}" />
				</th>
				<th >
					<button type="button" class="button button-purple mt-12 pull-right"  ng-click=clearAll(listdata.record)  >Clear</button>
				 </th>
			</tr>
        </thead>
	<tbody>
		<tr ng-repeat="row in listdata |orderBy:listdata.sortKey:listdata.reverse|filter:search | filter:listdata.record"     ng-class="{'success':$index == rowIndex}" ng-click="selectRow($index)"   context="context1" ng-dblclick="dblclick(row,$index)"  >
			<td ng-repeat="(key,value) in row"  
				ng-show="(!key.endsWith('Id')) &&  
				(displaydata[key]['Visible']==undefined  || 
				displaydata[key]['Visible']=='1')  " 
				>
				<div ng-if="displaydata[key]['DataType']=='number2'"  style="text-align:right"   >
					{{value}}
				</div>
				<div ng-if="displaydata[key]['DataType']==undefined"  >
					{{value}}
					
				</div>
			</td>
			<td class="text-right">
				<a  href=''  ng-show="addbutton==undefined || deletebutton==true " > <i ng-click="deletemode1(row,$index)" class="glyphicon glyphicon-trash"></i> <a/>
				<a  href=''  ng-show="addbutton==undefined || editbutton==true "  >  <i ng-click="editedata1(row,$index)" class="glyphicon glyphicon-edit"></i><a/>
				<a  href='' >  <i ng-click="viewdata1(row,$index)" class="glyphicon glyphicon-search"></i></a>
			</td>
		</tr >
	</tbody>
	<tfoot>
		<tr>
			<th ng-repeat="(key,value) in listdata[0]" 
				ng-show="(!key.endsWith('Id')) &&  
				(displaydata[key]['Visible']==undefined  || 
				displaydata[key]['Visible'])  " 
				>
				<div ng-if="displaydata[key]['Aggregate']=='sum'"    style="text-align:right" >
					{{listdata |  arraysum :key| number:2}} 
				</div>
			</th>
		</tr>
	</tfoot>		
							<!--
							<td colspan="{{displaydata | countNotAggregate }}" style="text-align:center" >
			
			
							Total
							</td>
							
							 <td  ng-repeat="tabledata in displaydata |filter:{Aggregate:'sum'}  " >
									
									<div ng-if="tabledata.Aggregate=='sum'"    style="text-align:right" >
									{{listdata |  arraysum :"Profit"| number:2}} 
									</div>
									
							 </td>
							
							
							<td></td>
							<td></td>
							</tr>
					
						-->
    </table>
		  <!--<ng-include src="'templates/table1.html'"></ng-include>  -->
	</div>
		<ul id="context1" class="dropdown-menu">
			<li   ><a ng-click="edit()">Edit</a></li>
			<li><a ng-click="link()">Link</a></li>
			<li><a ng-click="delete()">Delete</a></li>
			<li class="divider"></li>
			<li><a ng-click="properties()">Properties</a></li>
		</ul>
		<ul id="context2" class="dropdown-menu">
			<li><a ng-click="edit()">Edit</a></li>
			<li class="divider"></li>
			<li><a ng-click="properties()">Properties</a></li>
		</ul>
	<div class="row">
		<div class="pull-left">
				<button type="button" class="button button-purple mt-12 pull-right"  export-to-csv details=listdata >Export</button>
				<button type="button" class="button button-purple mt-12 pull-right"  export-to-excel details=listdata  >Excel</button>
				<button type="button" class="button button-purple mt-12 pull-right"  export-to-print            details=printdata  >print</button>
				<button type="button" class="button button-purple mt-12 pull-right"   export-to-json details=listdata    >JSON</button>
				<button type="button" class=" button button-purple mt-12 pull-righ" 	 export-to-xml details=listdata   >XML</button>
				<button type="button" class="button button-purple mt-12 pull-right"   export-to-pdf          details=printdata    >Pdf</button>
		</div>    
		<div class="pull-right">
				<pagination 
				ng-model="currentPage"
				total-items="total_row"
				max-size="maxSize"  
				boundary-links="true">
				</pagination>
		</div>
	</div>
</div>

<!--
ReportMaster
	ReportMasterId
	ReportQuery
	AllSearch
	FieldSearch
	MulitSearch
	ExportToXML
	ExportToPDF
	ExportToJson
	ExportTOPrint
	ExportToExcel
	ExportToExport
	PopupMenu
	AddButton
	EditButton
	DeleteButton
	ViewButton
	Pagefunction
	PageSize
ReportControlMaster
	ReportControlMasterId
	ReportMasterId
	FieldName
	Caption
	ToolTip
	Visible
	ColumnWidth
	ColumnHeaderColor
	ColumnDataColor
	ColumnNo
	AggregatefunctionId
						
						-->
