
<div>
<h2>{{$ctrl.title}}</h2>
</div>
 <div class="table table-responsive">
  <table class="table table-bordered">
    <thead>
                <tr >
             
                    <th  ng-repeat="(key,value) in $ctrl.datamodel[0]" ng-hide="key.endsWith('Id')" >
					
					{{key}}
					
					</th>
                    
                    <th class="text-right">Action</th>
                </tr>
				
            </thead>
			  <tbody>
			  <tr ng-repeat="row in $ctrl.datamodel |orderBy:listdata.sortKey:listdata.reverse|filter:search | filter:listdata.record"     ng-class="{'success':$index == rowIndex}" ng-click="selectRow($index)"   context="context1" ng-dblclick="dblclick(row,$index)"  >
			  
				<td   ng-repeat="(key,value) in row"   ng-hide="key.endsWith('Id')" >
					<div  ng-if="$parent.$index!=$ctrl.editindex "  >
					{{value}}
					</div>
					<div ng-if="$parent.$index==$ctrl.editindex" >
						<input Type=text ng-model=row[key]  />
					</div>
				</td>
				<td class="text-right">
					<div   ng-show="$ctrl.editindex!=$index" >
						<a  href=''  ng-show="deletebutton==undefined || deletebutton==true " >  			    <i ng-click="$ctrl.deleterecord({object:row,index:$index})" class="glyphicon glyphicon-trash"></i> </a>
						<a  href=''  ng-show="editbutton==undefined || editbutton==true "  > 				  <i ng-click="$ctrl.editerecord(row,$index)" class="glyphicon glyphicon-edit"></i></a>
						<a  href='' > 				    <i ng-click="viewdata1(row,$index)" class="glyphicon glyphicon-search"></i></a>
				  </div>
				  <div ng-if="$ctrl.editindex==$index" >
					<button type="button" class="button button-red mt-12 "  ng-click="$ctrl.updatemode({object:$ctrl.datamodel [$index]})" > Save</button> 
					<button type="button" class="button button-blue mt-12 "  ng-click="$ctrl.cancelmode()" > Cancel</button> 
				  </div>
                </td>
				
			
				
				
				
			  </tr>
			  </tbody>
			    <tfoot>
				
                <tr  ng-show="$ctrl.editindex==-1" >
             
                    <th  ng-repeat="(key,value) in $ctrl.datamodel[0]"  ng-hide="key.endsWith('Id')" >
					
					<input Type=text ng-model=$ctrl.tempmodel[key]  />
					
					</th>
                    
                    <th class="text-right">
					<button type="button" class="button button-purple mt-12 pull-right"  ng-click="$ctrl.addmode()" > Add</button> 
					</th>
                </tr>
				
				  </tfoot>
  </table>
 </div>
 
 