
<div class="col-lg-12">

 <div class="row ">
      <div class="col-lg-2">
          <h3>{{title}}</h3>   
        </div>
        <div class="col-lg-8 mt-12" >
 
                            <div class="input-group col-md-12">
							
                                <input type="text" id="search_input" value="" ng-model="search" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button ng-click="acc_con.search_data(search_input)" class="button button-green" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                    
       </div>
          <div class="col-lg-2 ">
              <button type="button" class="button button-purple mt-12 pull-right"  ng-click="addmode()" > Add</button> 
      
          </div>
    </div>
<div class="row" id="printdata" >

<table class="table" on-right-click="ShowContextMenu()" >
            <thead>
                <tr >
             
                    <th  ng-repeat="(key,value) in listdata[0]"  ng-hide=(key.endsWith('Id')) sort  by=listdata.sortKey  reverse=listdata.reverse  order=key >
					<!--
					<div   data-ng-if="tableview[key]!=null">
					{{tableview[key].caption}}
					</div>
					<div  data-ng-if="tableview[key]==null"> 
					  
					  </div> -->
					{{key}}
					</th>
                    
                    <th class="text-right">Action</th>
                </tr>
				<th  ng-repeat="(key,value) in listdata[0]"   ng-hide=(key.endsWith('Id'))>
				<input type="text" id="search_Field" value="" ng-model="listdata.record[key]" class="form-control" placeholder="{{key}}" />
				</th>
				 <th >
				 <button type="button" class="button button-purple mt-12 pull-right"  ng-click=clearAll(listdata.record)  >Clear</button>
				 </th>
				<tr>
				</tr>
            </thead>
            <tbody>
                
          <!--orderBy:sortKey:reverse|filter:search
		  ng-class="{'success': $index<= 0,'warning' :20<= $index,'danger' : 5<=$index,'bg-primary':rowIndex == $index }"
		  -->
		  
		   <tr ng-repeat="row in listdata |orderBy:listdata.sortKey:listdata.reverse|filter:search | filter:listdata.record"     ng-class="{'success':$index == rowIndex}" ng-click="selectRow($index)"   context="context1" ng-dblclick="dblclick(row,$index)"  >

                                <td ng-repeat="(key,value) in row"  ng-hide=(key.endsWith('Id'))>
								
								
									 {{value}}
								</td>
								  
                <td class="text-right">
				    
				
			   
			   <a  href='' >  			    <i ng-click="deletemode1(row,$index)" class="glyphicon glyphicon-trash"></i> <a/>
				
				
				 <a  href='' > 				  <i ng-click="editedata1(row,$index)" class="glyphicon glyphicon-edit"></i><a/>
				  <a  href='' > 				    <i ng-click="viewdata1(row,$index)" class="glyphicon glyphicon-search"></i></a>
                </td>
		 
                </tr >
                   
				  
                    
                    
               
                    
              
                
                
                

           </tbody>
        </table>
		  <!--<ng-include src="'templates/table1.html'"></ng-include>  -->
	</div>
      <ul id="context1" class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li><a ng-click="link()">Link</a></li>
      <li><a ng-click="delete()">Delete</a></li>
      <li class="divider"></li>
      <li><a ng-click="properties()">Properties</a></li>
    </ul>
    <ul id="context2" class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li class="divider"></li>
      <li><a ng-click="properties()">Properties</a></li>
    </ul>
	
	<div class="row">
<div class="pull-left">
<button type="button" class="button button-purple mt-12 pull-right"  export-to-csv details=listdata >Export</button>
<button type="button" class="button button-purple mt-12 pull-right"  export-to-excel details=listdata  >Excel</button>
<button type="button" class="button button-purple mt-12 pull-right"  export-to-print            details=printdata  >print</button>
<button type="button" class="button button-purple mt-12 pull-right"   export-to-json details=listdata    >JSON</button>
<button type="button" class=" button button-purple mt-12 pull-righ" 	 export-to-xml details=listdata   >XML</button>
<button type="button" class="button button-purple mt-12 pull-right"   export-to-pdf          details=printdata    >Pdf</button>



</div>    
<div class="pull-right">

    <pagination 
      ng-model="currentPage"
      total-items="total_row"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</div>
</div>
</div>