 <div class="row ">
        <div class="col-lg-2">
          <h3>Account List</h3>   
        </div>
        <div class="col-lg-8 mt-12" >
        
        
                            <div class="input-group col-md-12">
                                <input type="text" id="search_input" value="" ng-model="search_input" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button ng-click="acc_con.search_data(search_input)" class="button button-green" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                    
       </div>
          <div class="col-lg-2 ">
              <button type="button" class="button button-purple mt-12 pull-right" data-toggle="modal" data-target="#create_account_info_modal"> Create Account</button> 
      
          </div>
    </div>



<p class="{{acc_con.alert_class}}">{{acc_con.msg}} <br/>



</p>
<table class="table">
            <thead>
                <tr>
             
                    <th>Account Name</th>
                    <th>Address</th>
                    <th>City</th>
					<th>Phone</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                
          
                <tr ng-repeat="account in acc_con.account_list">
                   
                    <td>{{account.AccountName}}</td>
                    <td>{{account.Address}}</td>
                    <td>{{account.City}}</td>
					<td>{{account.Phone}}</td>
                    
                    
                 
                <td class="text-right">
                 
                     <button type="button"  data-toggle="modal"  class="button button-red" ng-click="acc_con.deleteObject(account.AccountMasterId)">Delete</button> 
                  
                    <button  type="button" data-toggle="modal" data-target="#edit_item_info_modal"  class="button button-blue" ng-click="acc_con.edit_item_info(account.AccountMasterId)">Edit</button> 
                  
                    <button type="button" data-toggle="modal" data-target="#view_student_info_modal"  class="button button-green" ng-click="acc_con.edit_item_info(account.AccountMasterId)">View</button> 

                    
                
                </td>
                    
                    
                    
                </tr>
                
                
                

           </tbody>
        </table>
    

<div class="pull-right">

    <pagination 
      ng-model="currentPage"
      total-items="total_row"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</div>

   <div class="modal fade" id="create_account_info_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Item </h4>
        </div>
        <div class="modal-body">
         
           <form method="post"  id="create_account_info_frm" ng-submit="acc_con.addAccount(account)" >
            <div class="form-group">
                <label for="AccountName">Account Name:</label>
                <input type="text" ng-model="account.AccountName" id="AccountName" class="form-control" required  maxlength="50">
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <input type="text" class="form-control" ng-model="account.Address" id="Address"  required maxlength="50">
            </div>
            <div class="form-group">
                <label for="City">City:</label>
                <input type="text" class="form-control" ng-model="account.City" id="City"  required maxlength="50">
            </div>
               <div class="form-group">
                <label for="Phone">Phone:</label>
                <input type="text" class="form-control" ng-model="account.Phone" id="Phone"  required maxlength="50">
            </div>
            
            
                <div class="form-group mb-50">
            <input type="submit" class="button button-green  pull-right"  value="Submit"/>
                </div>
                
        </form> 
    
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 


  <div class="modal fade" id="edit_item_info_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit item Info || {{acc_con.account.AccountName}} </h4>
        </div>
        <div class="modal-body" >
         
            <form method="post"  id="edit_student_info_frm" name="edit_student_info_frm" ng-submit="acc_con.updateAccount()">
                   <input ng-model="acc_con.item.ItemMasterId" type="hidden" />
            <div class="form-group">
                <label >Item Name:</label>
                <input type="text"  ng-model="acc_con.account.AccountName"  class="form-control" required maxlength="50">
            </div>
            <div class="form-group">
                <label >Address:</label>
                <input type="text" class="form-control" ng-model="acc_con.account.Address" required maxlength="50">
            </div>
            <div class="form-group">
                <label >City:</label>
                <input type="text" class="form-control" ng-model="acc_con.account.City" required  maxlength="50">
            </div>
			<div class="form-group">
                <label >Phone:</label>
                <input type="text" class="form-control" ng-model="acc_con.account.Phone" required  maxlength="50">
            </div>
           
                <div class="form-group mb-50">
            <input type="submit"  class="button button-green  pull-right"  value="Update"/>
                </div>
                
        </form> 
    
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 


 <div class="modal fade" id="view_student_info_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Account Info </h4>
        </div>
        <div class="modal-body" >
         
                 
            <div class="form-group">
                <label >Account Name:</label>
                {{acc_con.account.AccountName}}
               
            </div>
            <div class="form-group">
                <label >Address:</label>
                  {{acc_con.account.Address}}
              
            </div>
            <div class="form-group">
                <label >City:</label>
                     {{acc_con.account.City}}
             
            </div>
           <div class="form-group">
                <label >Phone:</label>
                     {{acc_con.account.Phone}}
             
            </div>
        
    
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
