<style>
success{
  background-color:green;
  }

.warning{
   background-color:yellow;
  }

.danger{
  background-color:red;
  }
.bg-primary{
 
   background-color:yellow;
  }
</style>
<div class="col-lg-10">

<div class="row">
	Search
	 <input type=text ng-model=listdata.search  class="form control" />
	 </div>
<div class="row">
<table class="table" on-right-click="ShowContextMenu()" >
            <thead>
                <tr>
              <th ng-repeat="(key, value) in listdata[0]"   ng-hide=(key.endsWith('Id'))  sort  by=listdata.orderdata reverse=listdata.reverse order=key sorting=sorting(data) >
			  
			  {{key}}
			  </th>
                   
                    <th class="text-right">Action1</th>
                </tr>
				<tr>
				 <th th ng-repeat="(key, value) in listdata[0]"   ng-hide=(key.endsWith('Id'))  >
				 <input type="text" ng-model="listdata.record[key]" class="form control" placeholder="Enter {{key}}" />
				 </th>
				<th>
				   
				</th>
				</tr>
            </thead>
            <tbody>
                
       
		 
                <tr ng-repeat="row in listdata| filter:listdata.record| filter:listdata.search|orderBy:listdata.orderdata:listdata.reverse"   ng-class="{'success':$index == rowIndex}" ng-click="selectRow($index)"   context="context1" >
                 
					 <td ng-repeat="(key, value) in row"  ng-hide=(key.endsWith('Id')) >{{value}}</td>
                   
                    
                    
                 
                <td class="text-right">
				
	
 
			    <button  ng-click="deletedata(row,$index)" class="button button-red" type="button">
                                        <span class=" glyphicon glyphicon-trash"></span>
                                    </button>
									<button  ng-click="editdata(row,$index)" class="button button-green" type="button">
                                        <span class=" glyphicon glyphicon-edit"></span>
                                    </button>
									<button  ng-click="viewdata(row,$index)" class="button button-purple" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
          
				
                </td>
                
				  
                     
                  
                     
			 



                
                      </tr>
                    
                    
              
                
                
                

           </tbody>
        </table>
		</div>
		<div>
      <ul id="context1" class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li><a ng-click="link()">Link</a></li>
      <li><a ng-click="delete()">Delete</a></li>
      <li class="divider"></li>
      <li><a ng-click="properties()">Properties</a></li>
    </ul>
    <ul id="context2" class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li class="divider"></li>
      <li><a ng-click="properties()">Properties</a></li>
    </ul>
</div>
	<div class="row">
	<div class="pull-left">  
    <button type="button" class="button button-purple mt-12 pull-right"  export-to-csv details=listdata >Export</button> 
	</div>
	
<div class="pull-right">

    <pagination 
      ng-model="currentPage"
      total-items="total_row"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</div>
</div>


</div>
