
<style>
.vertical-menu {
    width: 200px;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover {
    background-color: #ccc;
}
.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
</style>

 <div class="row ">
        <div class="col-lg-2">
          <h3>Transction List</h3>   
        </div>
        <div class="col-lg-8 mt-12" >
        
        
                            <div class="input-group col-md-12">
                                <input type="text" id="search_input" value="" ng-model="search_input" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button ng-click="tran_con.search_data(search_input)" class="button button-green" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                    
       </div>
          <div class="col-lg-2 ">
             
                 <!--<a ui-sref='sales({VoucherTypeId:2,TranId:0})' >
			   <button type="button" class="button button-purple mt-12 pull-right" > Sales</button> 
			   </a>-->
			   <button type="button" class="button button-purple mt-12 pull-right"  export-to-csv details=tran_con.tran_list >Export</button>
			   
          </div>
    </div>



<p class="{{tran_con.alert_class}}">{{tran_con.msg}} 



</p>

<div class="col-lg-2">
           <div class="vertical-menu" ng-repeat="menu in menulist">
		   <div ng-show={{menu.Visible}}> 
		   <a ui-sref='{{menu.TemplateName}}({VoucherTypeId:menu.VoucherTypeId,TranId:0})'  >{{menu.Name}}</a> 
		   
		   </div>
		   </div>
		  

        
</div>
<!--
<div class="col-lg-10">
<table class="table">
            <thead>
                <tr>
             
                    <th style="text-align:right">Bill No</th>
					<th>Bill Date</th>
					<th>VoucherName</th>
					<th>AccountName</th>
					<th>Address</th>
                    <th  class="text-right">Total</th>
					 <th>Remarks</th>
                    
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                
          
                <tr ng-repeat="trn in tran_con.tran_list">
                   
				   <td style="text-align:right">{{trn.BillNo}}</td>
				   <td>{{trn.BillDate|  date:"dd-MMM-yyyy" }}</td>
				   <td>{{trn.VoucherName}}</td>
                    <td>{{trn.AccountName}}</td>
                    <td>{{trn.Address}}</td>
					<td style="text-align:right">{{trn.Total | number:2}}</td>
					<td>{{trn.Remarks}}
					
					</td>
                   
                    
                    
                 
                <td class="text-right">
				    
					<button type="button"  data-toggle="modal"  class="button button-red" ng-click="tran_con.deleteObject(trn.TranId)">Delete</button> 
			  
                <a ui-sref='{{trn.TemplateName}}({VoucherTypeId:trn.VoucherTypeId,TranId:trn.TranId})' >
			   <button type="button" class="button button-blue" > Edit </button> 
			   </a>
			                                                        
			   <a ui-sref='{{trn.PrintTemplateName}}({VoucherTypeId:trn.VoucherTypeId,TranId:trn.TranId})' >
			   <button type="button" class="button button-green" > View </button> 
			   </a>
			   
                </td>
                 <!--
				  
                     
                  
                     
			   </a>


-->
                
                      </tr>
                    
                    
              
                
                
                

           </tbody>
        </table>
    
<div class="pull-right">

    <pagination 
      ng-model="currentPage"
      total-items="total_row"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
</div>
</div>


//start
<table border=1 style="margin-top: 0px !important;">
                            <thead>
                                <tr>
                                    <th ng-repeat="c in cols">{{c}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data">
                                    <td ng-repeat="(prop, value) in item" ng-init="isArr = isArray(value)">                                      
                                        <table ng-if="isArr"  border=1>
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <button ng-click="expanded = !expanded" expand>
                                                            <span ng-bind="expanded ? '-' : '+'"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th ng-repeat="(sh, sv) in value[0]">{{sh}}</th>
                                                </tr>
                                            </thead>                                           
                                            <tbody>
                                                <tr ng-repeat="sub in value" ng-show="expanded">
                                                    <td  ng-repeat="(sk, sv) in sub">{{sv}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span ng-if="!isArr">{{value}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

-->

 <my-customer listdata="tran_con.tran_list"></my-customer>
